@charset "UTF-8";
body {
  margin: 0px;
  background-color: #f2f2f2;
  font-family: "Ubuntu", sans-serif;
}

.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: rgb(44, 44, 130);
  color: white;
  box-shadow: 0px 0px 0px 1px black;
  text-align: center;
}
.nav__logo {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 10px;
}
.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__links__item {
  color: white;
  font-size: 20px;
  margin: 5px 10px;
  text-decoration: none;
  font-weight: bold;
}
.nav__links__item:hover {
  cursor: pointer;
  color: #c2c2eb;
}
.nav__links__userparams {
  font-size: 20px;
  margin: 0px 10px;
  color: black;
  background-color: rgb(171, 171, 224);
  box-shadow: 0px 0px 3px 1px black;
  height: 20px;
  width: 20px;
  padding: 10px;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__links__userparams:hover {
  cursor: pointer;
  scale: 1.03;
}

.container .base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container .base::after {
  content: "";
  background-image: url("../../public/img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.container .base__quote {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  width: 1000px;
  height: max-content;
  color: #323295;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 700px) {
  .container .base__quote {
    width: 500px;
    font-size: 40px;
  }
}
.container .base .fliales {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.container .base .fliales .fliale1, .container .base .fliales .fliale2, .container .base .fliales .fliale3, .container .base .fliales .fliale4 {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 5px;
  border: solid 3px #3939a8;
}
.container .base .fliales .fliale1 {
  background-image: url("../../public/img/fliale1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .base .fliales .fliale2 {
  background-image: url("../../public/img/fliale2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .base .fliales .fliale3 {
  background-image: url("../../public/img/fliale3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .base .fliales .fliale4 {
  background-image: url("../../public/img/fliale4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arrierePlan {
  position: fixed;
  top: 0;
  min-height: 100vh;
  z-index: 30;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.add_prospect {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: #3939a8;
  margin: 20px;
  box-shadow: 0px 0px 5px 1px black;
}
.add_prospect:hover {
  scale: 1.05;
  cursor: pointer;
}

.add_panel {
  position: fixed;
  z-index: 40;
  background-color: #f2f2f2;
  height: 92vh;
  width: 500px;
  top: 75px;
  left: 0;
  box-shadow: 0px 0px 5px 1px black;
  overflow-y: scroll;
}
.add_panel .close {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.add_panel__head {
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  margin: 40px;
}
.add_panel__formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add_panel__formulaire input {
  padding: 10px;
  font-size: 20px;
  width: 80%;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 2px 1px rgb(44, 44, 130);
  margin-bottom: 20px;
}
.add_panel__formulaire select {
  padding: 10px;
  font-size: 20px;
  width: 84%;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 2px 1px rgb(44, 44, 130);
  margin-bottom: 20px;
}
.add_panel__formulaire .btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  margin-top: 20px;
  padding-bottom: 40px;
  font-size: 20px;
}
.add_panel__formulaire .btns .result {
  font-size: 30px;
  margin: 0px 10px;
  color: rgb(24, 167, 24);
}
.add_panel__formulaire .btns .btn_save {
  background-color: rgb(44, 44, 130);
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}
.add_panel__formulaire .btns .btn_save:hover {
  scale: 1.05;
}
.add_panel__formulaire .btns .btn_close {
  background-color: rgb(44, 44, 130);
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.add_panel__formulaire .btns .btn_close:hover {
  scale: 1.05;
}
.add_panel__formulaire .btns .btn_delete {
  background-color: rgb(225, 78, 78);
  padding: 10px;
  color: white;
  margin-left: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.add_panel__formulaire .btns .btn_delete:hover {
  scale: 1.05;
}
.add_panel__formulaire .description {
  width: 80%;
  border-radius: 10px;
  outline: none;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0px 0px 1px 0.5px rgb(44, 44, 130);
  resize: none;
}

.list_prospect__filtre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 20px;
  background-color: rgb(106, 106, 227);
  color: white;
  font-size: 15px;
  margin-top: 85px;
}
@media screen and (max-width: 700px) {
  .list_prospect__filtre {
    margin-top: 105px;
  }
}
.list_prospect__filtre .filtre_option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list_prospect__filtre .status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list_prospect__filtre .status select {
  background-color: rgb(217, 217, 244);
  color: black;
}
.list_prospect__filtre select {
  border-radius: 20px;
  padding: 10px;
  width: 170px;
  margin: 0px 5px;
  border: none;
  outline: none;
  background-color: rgb(217, 217, 244);
}
.list_prospect__filtre option {
  font-size: 20px;
}
.list_prospect__filtre .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .list_prospect__filtre .search {
    flex-direction: column;
  }
}
.list_prospect__filtre .search input {
  padding: 10px;
  font-size: 20px;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .list_prospect__filtre .search input {
    width: 80%;
  }
}
.list_prospect__filtre .search .btn_search {
  padding: 14px;
  margin-left: 5px;
  background-color: #262626;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.list_prospect__filtre .search .btn_search:hover {
  cursor: pointer;
  background-color: rgb(44, 44, 130);
}
.list_prospect .prospects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 100px;
  min-height: 85vh;
  margin-top: 10px;
}

.prospect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(208, 208, 246);
  color: black;
  margin: 20px;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 20px;
  width: 170px;
  text-align: center;
  transition: transform 500ms;
}
.prospect--contacted {
  background-color: rgb(208, 246, 209);
}
.prospect:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.prospect .label {
  text-decoration: underline;
}
.prospect .entreprise {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.prospect .entreprise:hover {
  cursor: pointer;
  color: blue;
}
.prospect .domaine, .prospect .representant {
  margin: 5px;
}
.prospect .contacts {
  display: flex;
  flex-direction: row;
}
.prospect .contacter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 80, 107);
  margin: 10px 5px;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
}
.prospect .contacter--mail {
  box-shadow: 0px 0px 3px 1px black;
  color: rgb(44, 44, 130);
  background-color: white;
}
.prospect .contacter--mail a {
  text-decoration: none;
  color: rgb(44, 44, 130);
}
.prospect .contacter:hover {
  scale: 1.05;
  cursor: pointer;
}

.infos_panel {
  position: fixed;
  z-index: 50;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 40px;
  padding: 20px;
}
.infos_panel .close {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 15px;
}
.infos_panel__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 5px 0px;
}
.infos_panel__item a {
  text-decoration: none;
  color: #7676d1;
}
.infos_panel__item__title {
  font-weight: bold;
  background-color: rgb(201, 201, 224);
  color: rgb(44, 44, 130);
  width: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 2px 1px black;
}
.infos_panel__item__content {
  width: 300px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: rgb(44, 44, 130);
  margin-left: 10px;
}
.infos_panel__description {
  border-radius: 10px;
  background-color: rgb(201, 201, 224);
  height: 70px;
  width: 100%;
  margin: 5px 0px;
  overflow-y: auto;
  box-shadow: 0px 0px 2px 1px black;
}
.infos_panel__description__content {
  padding: 5px;
  color: rgb(44, 44, 130);
  width: 500px;
}
.infos_panel__description__content span {
  font-weight: bold;
  color: rgb(44, 44, 130);
  text-decoration: underline;
}

.rvPanel {
  position: fixed;
  z-index: 40;
  background-color: #f2f2f2;
  height: 92vh;
  overflow-y: auto;
  width: 500px;
  top: 75px;
  right: 0;
  box-shadow: 0px 0px 5px 1px black;
}
.rvPanel .close {
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}
.rvPanel__head {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 40px;
}
.rvPanel__formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rvPanel__formulaire input {
  padding: 10px;
  font-size: 20px;
  width: 80%;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 2px 1px rgb(44, 44, 130);
  margin-bottom: 20px;
}
.rvPanel__formulaire .btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  margin-top: 20px;
  padding-bottom: 40px;
  font-size: 20px;
}
.rvPanel__formulaire .btns .result {
  font-size: 30px;
  margin: 0px 10px;
  color: rgb(24, 167, 24);
}
.rvPanel__formulaire .btns .btn_save {
  background-color: rgb(44, 44, 130);
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.rvPanel__formulaire .btns .btn_save:hover {
  scale: 1.05;
}
.rvPanel__formulaire .btns .btn_close {
  background-color: rgb(44, 44, 130);
  padding: 10px;
  color: white;
  margin-right: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.rvPanel__formulaire .btns .btn_close:hover {
  scale: 1.05;
}
.rvPanel__formulaire .description {
  width: 80%;
  border-radius: 10px;
  outline: none;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0px 0px 1px 0.5px rgb(44, 44, 130);
  resize: none;
}

.rendez_vous {
  padding-top: 85px;
}
.rendez_vous__today {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.rendez_vous__avenir {
  display: flex;
  flex-direction: column;
}
.rendez_vous__avenir .rv {
  background-color: rgb(208, 221, 246);
}
.rendez_vous__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  margin: 0px 5px;
  color: rgb(20, 20, 43);
  background-color: rgb(140, 140, 243);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.rendez_vous__title input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.rendez_vous__list {
  display: flex;
  box-shadow: 0px 0px 5px 1px black inset;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 5px;
  padding: 0px 20px;
  min-height: 39.3vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.page_mail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.page_mail__head {
  font-size: 50px;
  font-weight: bold;
  width: 1000px;
  text-align: center;
  margin-bottom: 50px;
}
.page_mail .fa-circle-xmark {
  color: red;
}
.page_mail__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page_mail__form input {
  font-size: 30px;
  background-color: rgb(197, 197, 234);
  border-radius: 20px;
  padding: 40px;
}
.page_mail__form .btn {
  border-radius: 20px;
  margin-top: 30px;
  padding: 20px;
  font-size: 25px;
  background-color: rgb(87, 87, 187);
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 3px 1px black;
  border: none;
}
.page_mail__form .btn:hover {
  cursor: pointer;
  background-color: rgb(72, 72, 136);
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
}

.rv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  min-height: 140px;
  width: 140px;
  background-color: rgb(246, 236, 208);
  color: black;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0.5px black;
  text-align: center;
}
.rv__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0px;
}
.rv__title {
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(30, 30, 110);
}
.rv__prospect, .rv__entreprise, .rv__horaire {
  font-weight: bold;
}
.rv__bts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.rv__bts__delete {
  padding: 5px;
  width: 25px;
  height: 25px;
  color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 152, 152);
  box-shadow: 0px 0px 3px 1px black;
  margin: 0px 5px;
}
.rv__bts__delete:hover {
  cursor: pointer;
  scale: 1.03;
}
.rv__bts__edit {
  padding: 5px;
  width: 25px;
  height: 25px;
  color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(127, 237, 127);
  box-shadow: 0px 0px 3px 1px black;
  margin: 0px 5px;
}
.rv__bts__edit:hover {
  cursor: pointer;
  scale: 1.03;
}

.delete_rv_panel {
  padding: 15px;
  background-color: #e6e6e6;
  border-radius: 20px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 400px;
  color: black;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px 1px black;
}
.delete_rv_panel__head {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.delete_rv_panel__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.delete_rv_panel__content__close {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 10px;
}
.delete_rv_panel__content__close:hover {
  cursor: pointer;
  scale: 1.03;
}
.delete_rv_panel__content__continue {
  font-size: 20px;
  background-color: rgb(234, 68, 68);
  color: white;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 10px;
}
.delete_rv_panel__content__continue:hover {
  cursor: pointer;
  scale: 1.03;
}
.delete_rv_panel__content__done {
  font-size: 20px;
  background-color: green;
  color: white;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 10px;
}
.delete_rv_panel__content__done:hover {
  cursor: pointer;
  scale: 1.03;
}
.delete_rv_panel .result_delete {
  margin-top: 10px;
  font-size: 20px;
}

.btn_export {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: rgb(51, 51, 142);
  margin: 20px;
  box-shadow: 0px 0px 5px 1px black;
}
.btn_export:hover {
  scale: 1.05;
  cursor: pointer;
}

.btn_import {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: rgb(51, 51, 142);
  margin: 20px;
  box-shadow: 0px 0px 5px 1px black;
}
.btn_import:hover {
  scale: 1.05;
  cursor: pointer;
}

.btn_send_mail {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 160px;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 30px;
  color: rgb(51, 51, 142);
  background-color: white;
  margin: 20px;
  box-shadow: 0px 0px 5px 1px black;
}
.btn_send_mail:hover {
  scale: 1.05;
  cursor: pointer;
}

.total_prospect {
  font-size: 20px;
}
.total_prospect span {
  color: rgb(212, 212, 224);
}

.vide {
  font-size: 20px;
}

.send_mail_load {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  bottom: 160px;
  right: 60px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
}
.send_mail_load .fa-circle-check {
  color: rgb(112, 185, 3);
}

.import_file_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #e6e6e6;
  z-index: 100;
  border-radius: 20px;
}
.import_file_panel__head {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 500px;
  text-align: center;
  font-weight: bold;
}
.import_file_panel__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.import_file_panel__form input {
  font-size: 25px;
  background-color: rgb(188, 204, 209);
  padding: 20px;
}
.import_file_panel__form button {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(105, 105, 187);
  color: white;
}
.import_file_panel__form button:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: rgb(44, 44, 130);
}
.import_file_panel__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 25px;
}
.import_file_panel .result {
  margin-top: 10px;
  font-size: 20px;
}

.login_page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.login_page__presentation {
  width: 60%;
  height: 100%;
  background-image: url("../../public/img/blue2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login_page__form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_page__form__head {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.login_page__form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}
.login_page__form__content input {
  padding: 20px;
  width: 70%;
  font-size: 20px;
  margin: 10px 0px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgb(228, 228, 243);
  box-shadow: 0px 0px 5px 1px black inset;
  color: black;
}
.login_page__form__content button {
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(52, 52, 198);
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 1px black;
}
.login_page__form__content button:hover {
  cursor: pointer;
  scale: 1.05;
}
.login_page__form__content .signup_link {
  width: 70%;
  text-align: center;
  margin-top: 20px;
  color: rgb(52, 52, 198);
  text-decoration: underline;
}
.login_page__form__content .signup_link i {
  margin-right: 5px;
}
.login_page__form .login_result {
  margin-top: 20px;
  font-size: 25px;
}

.signup_page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.signup_page__presentation {
  width: 60%;
  height: 100%;
  background-image: url("../../public/img/blue2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup_page__form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.signup_page__form__head {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.signup_page__form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}
.signup_page__form__content input {
  padding: 20px;
  width: 70%;
  font-size: 20px;
  margin: 10px 0px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgb(228, 228, 243);
  box-shadow: 0px 0px 5px 1px black inset;
  color: black;
}
.signup_page__form__content button {
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(52, 52, 198);
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 1px black;
}
.signup_page__form__content button:hover {
  cursor: pointer;
  scale: 1.05;
}
.signup_page__form__content .fonction {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.signup_page__form__content .fonction__title {
  font-size: 20px;
  margin-right: 5px;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  min-width: 10%;
  text-align: center;
}
.signup_page__form__content .fonction select {
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px black inset;
  border: none;
  width: 54%;
}
.signup_page__form__content .login_link {
  width: 70%;
  text-align: center;
  margin-top: 20px;
  color: rgb(52, 52, 198);
  text-decoration: underline;
}
.signup_page__form__content .login_link i {
  margin-right: 5px;
}
.signup_page__form .signup_result {
  margin: 20px 0px;
  font-size: 25px;
  text-align: center;
}

.user_main {
  position: fixed;
  top: 70px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 3px 2px black;
  color: white;
  min-width: 200px;
}
.user_main__username {
  background-color: rgb(79, 79, 148);
  font-size: 25px;
  width: 100%;
  padding: 10px 0px;
}
.user_main .logout {
  font-size: 25px;
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px 0px;
}
.user_main .logout:hover {
  cursor: pointer;
  color: rgb(100, 100, 161);
}

.page_offres {
  width: 100%;
  margin-top: 85px;
}
.page_offres__btn_add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(100, 100, 161);
  color: white;
  height: 70px;
  width: 70px;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 1px black;
}
.page_offres__btn_add:hover {
  cursor: pointer;
  scale: 1.03;
}
.page_offres__filtre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 20px;
  background-color: rgb(106, 106, 227);
  color: white;
  font-size: 15px;
  margin-top: 85px;
}
@media screen and (max-width: 700px) {
  .page_offres__filtre {
    margin-top: 105px;
  }
}
.page_offres__filtre .filtre_option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page_offres__filtre .status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page_offres__filtre .status select {
  background-color: rgb(217, 217, 244);
  color: black;
}
.page_offres__filtre select {
  border-radius: 20px;
  padding: 10px;
  width: 170px;
  margin: 0px 5px;
  border: none;
  outline: none;
  background-color: rgb(217, 217, 244);
}
.page_offres__filtre option {
  font-size: 20px;
}
.page_offres__filtre .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .page_offres__filtre .search {
    flex-direction: column;
  }
}
.page_offres__filtre .search input {
  padding: 10px;
  font-size: 20px;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .page_offres__filtre .search input {
    width: 80%;
  }
}
.page_offres__filtre .search .btn_search {
  padding: 14px;
  margin-left: 5px;
  background-color: #262626;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.page_offres__filtre .search .btn_search:hover {
  cursor: pointer;
  background-color: rgb(44, 44, 130);
}

.edit_offre {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 40px;
  box-shadow: 0px 0px 5px 1px black;
}
.edit_offre__result {
  font-size: 20px;
  margin: 10px;
}
.edit_offre__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  margin: 10px;
}
.edit_offre__head {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}
.edit_offre__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.edit_offre__form input {
  padding: 20px;
  font-size: 25px;
  margin: 5px 0px;
  width: 80%;
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 20px;
  border: none;
  outline: none;
}
.edit_offre__form select {
  padding: 20px 15px;
  font-size: 25px;
  margin: 5px 0px;
  width: 85%;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px black;
  border: none;
  outline: none;
}
.edit_offre__form textarea {
  width: 80%;
  resize: none;
  padding: 20px;
  font-size: 25px;
  margin: 5px 0px;
  border: none;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
  outline: none;
  height: 200px;
  box-shadow: 0px 0px 2px 1px black;
}
.edit_offre__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 85%;
  margin: 20px 0px;
}
.edit_offre__btns__close {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  border-radius: 10px;
}
.edit_offre__btns__close:hover {
  cursor: pointer;
  scale: 1.03;
}
.edit_offre__btns__save {
  padding: 10px;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.edit_offre__btns__save:hover {
  cursor: pointer;
  scale: 1.03;
}

.update_offre {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 40px;
  box-shadow: 0px 0px 5px 1px black;
}
.update_offre__result {
  font-size: 20px;
  margin: 10px;
}
.update_offre__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  margin: 10px;
}
.update_offre__head {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}
.update_offre__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.update_offre__form input {
  padding: 20px;
  font-size: 25px;
  margin: 5px 0px;
  width: 80%;
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 20px;
  border: none;
  outline: none;
}
.update_offre__form select {
  padding: 20px 15px;
  font-size: 25px;
  margin: 5px 0px;
  width: 85%;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px black;
  border: none;
  outline: none;
}
.update_offre__form textarea {
  width: 80%;
  resize: none;
  padding: 20px;
  font-size: 25px;
  margin: 5px 0px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  outline: none;
  height: 200px;
  box-shadow: 0px 0px 2px 1px black;
}
.update_offre__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 85%;
  margin: 20px 0px;
}
.update_offre__btns__close {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  border-radius: 10px;
}
.update_offre__btns__close:hover {
  cursor: pointer;
  scale: 1.03;
}
.update_offre__btns__save {
  padding: 10px;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.update_offre__btns__save:hover {
  cursor: pointer;
  scale: 1.03;
}

.list_offres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80.5vh;
  padding: 10px 0px;
}

.offre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: white;
  box-shadow: 0px 0px 5px 1px black;
  font-size: 20px;
  margin: 20px;
  text-align: center;
  transition: transform 500ms;
  min-width: 60%;
  min-height: 100px;
}
.offre:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.offre--deal {
  background-color: rgb(198, 238, 198);
}
.offre--cloturee {
  background-color: rgb(240, 216, 216);
}
.offre--active {
  background-color: rgb(244, 247, 214);
}
.offre__objet {
  font-weight: bold;
  font-size: 25px;
  color: black;
  text-align: center;
  width: 250px;
  min-height: 100px;
  margin-right: 20px;
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.offre__montant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  width: 300px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  align-items: center;
  margin-left: 20px;
}
.offre__montant .title {
  margin: 0px 10px;
}
.offre__montant .montant {
  margin: 0px 5px;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.offre__entreprise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  overflow-y: auto;
  margin-right: 20px;
}
.offre__entreprise .nom_entreprise {
  font-weight: bold;
}
.offre__statut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px;
  color: black;
  width: 150px;
  display: flex;
  align-items: center;
}
.offre__statut .statut {
  font-weight: bold;
}

.infos_offre {
  position: fixed;
  z-index: 100;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 25px;
  font-size: 20px;
  padding: 20px;
  width: 30%;
}
.infos_offre__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  font-size: 25px;
}
.infos_offre__objet {
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 0px;
  box-shadow: 0px 0px 2px 1px black;
  margin: 30px 0px 20px 0px;
}
.infos_offre__entreprise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px;
  margin: 10px 0px;
  color: black;
}
.infos_offre__entreprise .nom_entreprise {
  font-weight: bold;
}
.infos_offre__statut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px;
  color: black;
}
.infos_offre__statut .statut {
  font-weight: bold;
}
.infos_offre__details {
  background-color: #cccccc;
  margin: 10px 0px;
  padding: 5px;
  height: 100px;
  overflow-y: auto;
}
.infos_offre__details span {
  font-weight: bold;
  margin-right: 5px;
}
.infos_offre__montant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 10px 0px;
  margin-top: 20px;
  color: white;
}
.infos_offre__montant .title {
  margin: 0px 10px;
  font-weight: bold;
}
.infos_offre__montant .montant {
  margin: 0px 5px;
}
.infos_offre__btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.infos_offre__btns__close {
  padding: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-right: 10px;
}
.infos_offre__btns__close:hover {
  cursor: pointer;
  scale: 1.03;
}
.infos_offre__btns__update {
  padding: 10px;
  font-weight: bold;
  background-color: orange;
  margin-left: 10px;
}
.infos_offre__btns__update:hover {
  cursor: pointer;
  scale: 1.03;
}
.infos_offre__btns__delete {
  padding: 10px;
  font-weight: bold;
  background-color: rgb(231, 98, 98);
}
.infos_offre__btns__delete:hover {
  cursor: pointer;
  scale: 1.03;
}
.infos_offre__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 25px;
}

.chat {
  margin-top: 80px;
  height: 91.5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
}
@media screen and (max-height: 600px) {
  .chat {
    height: 86vh;
  }
}
.chat__conversations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  z-index: 100;
  position: absolute;
  top: 80px;
  left: 0;
  box-shadow: 0px 0px 3px 1px black;
}
.chat__conversations__head {
  font-size: 25px;
  padding: 15px 0px;
  text-align: center;
  background-color: rgb(176, 176, 245);
  font-weight: bold;
  color: black;
  width: 100%;
}
.chat__conversations__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(227, 227, 246);
  width: 100%;
  height: 78.6vh;
  overflow-y: auto;
}
@media screen and (max-height: 600px) {
  .chat__conversations__content {
    height: 65.7vh;
  }
}
.chat__conversations__foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 177, 226);
}
.chat__conversations__foot input {
  padding: 20px;
  width: 90%;
  font-size: 20px;
  border: none;
  background-color: rgb(182, 182, 235);
  text-align: center;
  outline: none;
}
.chat__content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}
.chat__content__title {
  margin: 20px 0px;
  font-size: 20px;
  color: rgb(67, 67, 155);
}
.chat__content__message_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  box-shadow: 0px 0px 3px 1px black;
  border-radius: 20px;
}
.chat__content__message_input input {
  font-size: 25px;
  text-align: left;
  height: 80px;
  width: 80%;
  padding: 0px 10px;
  resize: none;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}
.chat__content__message_input .btn_send {
  text-align: center;
  color: white;
  background-color: rgb(101, 101, 212);
  font-size: 25px;
  height: 80px;
  padding: 0px 5px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.chat__content__message_input .btn_send:hover {
  cursor: pointer;
  background-color: #2e2ea5;
}
.chat__content__message_input .btn_send i {
  margin-right: 5px;
}
.chat__content__messages {
  width: 90%;
  height: 77vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  margin: 10px 0px;
  overflow-y: auto;
}
@media screen and (max-height: 600px) {
  .chat__content__messages {
    height: 60vh;
  }
}

.chat_member {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  padding: 10px 5px;
  background-color: rgb(201, 201, 233);
  border-radius: 10px;
  margin: 5px 10px 0px 10px;
}
.chat_member i {
  margin: 0px 5px;
  font-size: 15px;
}
.chat_member .username {
  color: rgb(37, 37, 128);
}

.message_in {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: black;
  font-size: 20px;
}
.message_in__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(217, 217, 245);
  border-radius: 20px;
  width: 40%;
}
.message_in__content__username {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: bold;
  color: rgb(53, 53, 189);
  margin-bottom: 5px;
}
.message_in__content__username .pp {
  color: white;
  background-color: rgb(62, 62, 165);
  height: 20px;
  width: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 5px;
}
.message_in__content__infos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
  color: rgb(62, 62, 165);
}

.message_out {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: black;
  font-size: 20px;
}
.message_out__content {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: rgb(164, 164, 248);
  border-radius: 20px;
  padding: 10px;
}
.message_out__content__infos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(44, 44, 130);
  color: white;
  font-size: 20px;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 222); /* Couleur de la poignée de la barre de défilement */
}

::-webkit-scrollbar-track {
  background-color: #ecf0f1; /* Couleur de la piste de la barre de défilement */
}

/*# sourceMappingURL=style.css.map */
